{% extends 'base.html' %}
{% block title %}Add The CSV File{% endblock title %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form action="" method="post">
                    <label for="formFileLg" class="form-label">Large file input example</label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file">
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock content %}